@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Teko&display=swap");


/* default values for all elements */
*
{
    /*default text settings  */
    font-family: 'Teko', serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 1.15em;
    color: #0D0D0D;

    /* default size settings */
    margin: 0%;
    padding: 0%;
    transition: 0.35s;
}

/* default values for header style elements */
h1, h2, h3, h4, h5, h6, button, label
{
    text-transform: uppercase;
}

/* default values for header elements */
h1, h2, h3, h4, h5, h6
{
    font-weight: 700;
}

/* values for each header */
h6{font-size: 1.6em;} h5{font-size: 2em;} h4{font-size: 2.2em;} h3{font-size: 2.4em;} h2{font-size: 2.8em;} h1{font-size: 3.2em;}


/* default values for aligning elements */
body, nav, header, section, footer, form, ul, ol, div
{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* default values for focus elements */
nav, header, section, footer
{
    width: 75%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    height: 100%;

}

/* default values for full sized elements */
ul, ol, form, img
{
    width: 100%;
    height: 100%;
}

/* default values for row elements */
ul, ol, form
{
    flex-direction: row;
}

/* default value for unordered lists */
ul
{
    list-style: none;
}

/* default value for list items */
li
{
    padding: 1em 1em;
}

/* default value for buttons */
button
{
    border: none;
    background: none;
}
/* default value for buttons (on hover) */
button:hover
{
    font-size: 1.2em;
    transition: 0.35s;
}

textarea, input {
    width: 100%;
    height: 1.5em;
    box-sizing: border-box;
    border-radius: 4px;
}

textarea
{
    width: 100%;
    height: 200px;
    margin-bottom: 2em;
    resize:none;
  }

/* default value for the body */
body
{
    background: #F2F2F2;
}

nav, footer
{
    background: #0D0D0D;
}

nav *, footer *
{
    color: #F2F2F2;
}









